<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
        <div class="px-4">
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <div class="details-title">
                      <h2 class="card-title">{{ product.name }}</h2>
                      <button class="seller-btn" (click)="open()">
                        Seller Contact
                      </button>
                    </div>
                    <hr/>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Category: {{ product.category }}</p>
                    <h2 class="card-text">
                      Price: ${{ product.price }}
                    </h2>

                    <!-- Seller Contact button -->
                  </div>
                </div>
              </div>
              <!-- Images on the left side -->
              <div class="col-md-6 mb-3">
                <div class="main-image-container">
                  <img
                    [src]="mainImageUrl"
                    alt="{{ product.name }}"
                    class="main-image img-thumbnail"
                  />
                </div>
                <div class="thumbnails-arrows-container">
                  <div class="arrow left" (click)="navigateThumbnails('left')">
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <div class="thumbnails-container">
                    <div
                      *ngFor="
                        let thumbnailUrl of product.thumbnailUrls;
                        let i = index
                      "
                      class="thumbnail"
                      [class.active]="mainImageUrl === thumbnailUrl"
                      (click)="switchMainImage(thumbnailUrl)"
                    >
                      <img
                        [src]="thumbnailUrl"
                        alt="{{ product.name }}"
                        class="img-thumbnail"
                      />
                    </div>
                  </div>
                  <div
                    class="arrow right"
                    (click)="navigateThumbnails('right')"
                  >
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-5 py-5 border-top text-center"></div>
        </div>
      </div>
    </div>
  </section>
</main>
