/* Styles for product component */

/* Card filter */
.card-filter {
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-row{
  width: 100%;
}

/* Product container */
.product-container {
  max-width: 100%;
  padding: 150px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

/* Media query for small screens */
@media (max-width: 767.98px) {
  .product-container {
      padding: 20px;
  }
}

.product-card img.card-img-top {
  height: 200px; /* Adjust the desired image height */
  object-fit: cover; /* Maintain aspect ratio and cover area */
}