/* Default styles for the hero section */
.container {
  padding: 16px 8px;
}
.banner-img{
  width: 50%;
}
.banner{
padding: 65px;
   display: flex;
   align-items: space-between;
}
.hero {
max-width: 100%;
padding-top: 64px;
padding-bottom: 64px;
}

.hero-h1 {
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700 !important;
}

.hero-text {
  top: 150px;
  position: relative;
}

/* Media query for smaller screens (e.g., tablets and mobile devices) */
@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
    /* Adjust height for smaller screens */
  }

  .hero-text {
    top: 80px;
    position: relative;
  }
}

/* Media query for even smaller screens (e.g., mobile phones) */
@media screen and (max-width: 480px) {
  .hero {
    height: 500px;
    /* Further adjust height for smaller screens */
  }

  .hero-text {
    top: 100px;
    position: relative;
  }

  .hero-h1 {
    font-size: 30px;
  }

}


.card-body {

  flex: 1 1 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-heading {}